


.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  width: 175px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  /*flex-grow: 1;*/
}

.navigation {
  width: 300px;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}

.logo p {
  padding-left: 12px;
}
